extends layout

block content
    .row 
        .col-3
        .col-6
            p.h3.text-center.font-weight-bold.pb-4 Messages
    .row
        .col-2
            ul.list-group.bg-light.pl-0
                li.list-group-item.font-weight-bold.borderless.pl-0.text-secondary People
                li.list-group-item.borderless.pl-1.primary Dylan Dunn
                li.list-group-item.borderless.pl-1 John Doe
                li.list-group-item.borderless.pl-1 Jack Sparrow
        .col-10
            .container
                ul.list-group.chat-window.fill-parent(id="chat-window")
                    li.list-group-item.borderless
                        .row
                            .col-0
                                span.font-weight-bold Dylan
                            .col-8
                                p.alert-secondary.p-2.rounded Hello World dasdas aedfasd asda asda asdas dadasd asd a asd as dasd a asdads
                    li.list-group-item.borderless
                        p.text-center.text-secondary John joined the chat!
                    li.list-group-item.borderless
                        .row.float-right
                            .col-0
                                span.font-weight-bold John 
                            .col-8
                                p.alert-primary.p-2.rounded Fellas Wdadasd asd a asd as dasd a asdads
                    li.list-group-item.borderless
                        .row
                            .col-0
                                span.font-weight-bold John 
                            .col-8
                                img(src="images/bbq-wing.png")
                    li.list-group-item.borderless
                        .row
                            .col-0
                                span.font-weight-bold Jack 
                            .col-8
                                img(src="images/garlic-wing.png")
                    li.list-group-item.borderless
                        .row
                            .col-0
                                span.font-weight-bold Dylan
                            .col-8
                                img(src="images/hot-wing.png")
                    li.list-group-item.borderless
                        .row
                            .col-0
                                span.font-weight-bold Dylan
                            .col-8
                                img(src="images/mild-wing.png")
    .row
        .col-2
        .col-10
            .input-group
                input.form-control( id="message" placeholder="Send Message..." type="text")
                .input-group-append
                    button.btn.btn-primary(onclick="sendMessage()") Send
    .row.mt-2
        .col-2
        .col-10
            .btn-group.btn-group-lg
                button.btn.btn-secondary
                    img(src="images/mild-wing.png")
                button.btn.btn-secondary
                    img(src="images/hot-wing.png")
                button.btn.btn-secondary
                    img(src="images/garlic-wing.png")
                button.btn.btn-secondary
                    img(src="images/country-wing.png")
                button.btn.btn-secondary
                    img(src="images/hooligan-wing.png")
                button.btn.btn-secondary
                    img(src="images/bbq-wing.png")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous")
    script(src="scripts/script.js")
