extends layout

block content
    .row 
        .col-lg-2.col-0
        .col-lg-10
            p.h3.text-center.font-weight-bold.pb-0.d-none.d-md-block Messages
    .row
        .col-2.d-none.d-md-block
            h4.mt-0.pt-0 Fellas
            ul.list-group.pl-0.chat-window.fill-parent
                each fella in fellas
                    li.list-group-item.borderless.pl-1.py-0.mr-1 #{fella.firstname + ' ' + fella.lastname}
                        p.text-secondary #{'@' + fella.username}

        .col-md-10.col-12
            .container.p-1
                ul.list-group.chat-window.fill-parent(id="chat-window")
    .row
        .col-md-2.col-0
        .col-md-10.col-12
            .btn-group.btn-group-sm
                button.btn.btn-secondary(data-toggle="tooltip" data-placement="top" title="Mild" onclick="sendWingMessage('mild')")
                    img(height="24px" src="images/mild-wing-md.png")
                button.btn.btn-secondary(data-toggle="tooltip" data-placement="top" title="Hot" onclick="sendWingMessage('hot')")
                    img(height="24px" src="images/hot-wing-md.png")
                button.btn.btn-secondary(data-toggle="tooltip" data-placement="top" title="Garlic Parm" onclick="sendWingMessage('garlic')")
                    img(height="24px" src="images/garlic-wing-md.png")
                button.btn.btn-secondary(data-toggle="tooltip" data-placement="top" title="Country Sweet" onclick="sendWingMessage('country')")
                    img(height="24px" src="images/country-wing-md.png")
                button.btn.btn-secondary(data-toggle="tooltip" data-placement="top" title="Hooligan" onclick="sendWingMessage('hooligan')")
                    img(height="24px" src="images/hooligan-wing-md.png")
                button.btn.btn-secondary(data-toggle="tooltip" data-placement="top" title="BBQ" onclick="sendWingMessage('bbq')")
                    img(height="24px" src="images/bbq-wing-md.png")
    .row.mt-2
        .col-3.col-sm-2
            a.btn.btn-danger(href="/logout") Logout
        .col-9.col-sm-10
            .input-group
                input.form-control( id="message" placeholder="Send Message..." type="text")
                .input-group-append
                    button.btn.btn-primary(type="submit" onclick="sendMessage()") Send
    .row.pt-4
        .col-2.col-md-4
        button.btn.btn-secondary.text-center.col-8.col-md-4 Check it out on Github!
    
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="scripts/script.js")
