extends layout

block content
    .row
        .col-3
        .col-6
            .card
                .card-body
                    form.form(action="/chat")
                        .form-row.m-4
                            input.form-control(type="text" placeholder="Username" required)
                        .form-row.m-4
                            input.form-control(type="password" placeholder="Password" required)
                        .form-row.m-4
                            span Don't already have an account?&nbsp
                            a(href="/register")  Sign Up
                        .form-row
                            .col-10
                            .col-2
                                button.btn.btn-primary(type="submit") Submit

                    
