extends layout

block content
    .container.p-4
        .row
            .col-12
                h2.display-4.mb-4 Wing Chat
        .row 
            .col-3
            .col-6
                p.h3.text-center.font-weight-bold.pb-4 Log In
        .row
            .col-3
            .col-6
                .card
                    .card-body
                        form.form-group(action="/chat")
                            .form-group-row.m-4
                                input.p-1.form-control-plaintext(type="text" placeholder="Username")
                            .form-group-row.m-4
                                input.p-1.form-control-plaintext(type="password" placeholder="Password")
                            .form-group-row.m-4
                                span Don't already have an account? 
                                    a(href="/register") Sign Up
                                button.btn.btn-primary.float-right(type="submit") Submit

                    
