extends layout

block content
    .container.p-4.fill-parent
        .row 
            .col-2
                p.text-center.font-weight-bold Users
            .col-8
                p.text-center.font-weight-bold Messages
            .col-2
                p.text-center.font-weight-bold
        .row
            .col-2
                ul.list-group
                    li.list-group-item Dylan Dunn
            .col-8
                .container
                    ul.list-group.chat-window.fill-parent
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World

                        li.list-group-item.borderless.text-right
                            span.font-weight-bold Dylan 
                            span.alert-primary.p-2.rounded Hello World

                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
                        li.list-group-item.borderless
                            span.font-weight-bold Dylan 
                            span.alert-secondary.p-2.rounded Hello World
            .col-2
        .row
            .col-2
            .col-8
                .input-group
                    input.form-control(placeholder="Send Message..." type="text")
                    .input-group-append
                        button.btn.btn-outline-secondary Button
