link(rel="stylesheet" href="/stylesheets/time.css")

h1( id="time") Loading....
button(id="start" type="button") START

script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" )
audio( id="music" src="/sounds/TimePassingBy.mp3" )
script( src='/scripts/time.js' )