@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    background-color: black;
    font-family: 'Source Code Pro', monospace;
}

h1#time {
    padding:0px;
    color:white;
    font-size: 9vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button#start {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:40vw;
    height:30vw;
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vw;
    border:10px solid white;
}